<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Captain Collector</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <h4>
        <a href="captain-collector/new">Add New Comic</a>
    </h4>

    <ul>
        <% comics.forEach(comic => { %>
            <li>
                <a href="/captain-colletor/<%= comic.id %>"><%= comic.title %></a> <br>
                <img src="<%= comic.image %>" alt=""> <br>
                Number: <%= comic.number %> <br>
                Volume: <%= comic.volume %> <br>
                Publisher: <%= comic.publisher %> <br>
            </li>
      <%  }) %>
    </ul>
</body>
</html>