<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Captain Collector</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>

    <div id="search-container">
        <form action="/search" method="GET">
            <input type="text" name="search" placeholder="Search by title..." id="search-bar">
            <button type="submit" id="search-button">Search</button>
        </form>
    </div>    

    <h4>
        <a href="/new" id="add-new">Add New Comic</a>
    </h4>

    <ul>
        <% comics.forEach(comic => { %>
        <div id="comic-container">
            <li>
                <a href="/<%= comic.id %>" id="comic-title"><%= comic.title %></a> <br>
                <img src="<%= comic.image %>" alt=""> <br>
                Number: <%= comic.number %> <br>

            </li>
        </div>
      <%  }) %>
    </ul>
</body>
</html>