<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/search.css">
    <title>Captain Collector</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    
    <h2>Search Results</h2>

    <% if (comics.length > 0) { %>
        <% comics.forEach((comic) => { %>
          <div id="results-container">
            <a href="/<%= comic.id %>" id="comic-title"><%= comic.title %></a> <br> 
            
            <h3>
                Number: <%= comic.number %> <br> 
                Volume: <%= comic.volume %> <br>
                Publisher: <%= comic.publisher %> <br>
                Year: <%= comic.year %> <br>
            </h3>
            <div id="image-container">
                <img src="<%= comic.image %>" alt="">
            </div>
          </div>
        <% }); %>
      <% } else { %>
        <p>No results found...</p>
      <% } %>
</body>
</html>