<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show.css">
    <title>Captain Collector</title>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <h2><%= comic.title %></h2> 
        
    <h3>
        Number: <%= comic.number %> <br> 
        Volume: <%= comic.volume %> <br>
        Publisher: <%= comic.publisher %> <br>
        Year: <%= comic.year %>
    </h3>

    <div id="image-container">
        <img src="<%= comic.image %>" alt="<%= comic.image %>"> <br>
    </div>

    <div id="buttons-container">
        <form action="/<%= comic.id %>/edit" method="get">
            <button type="submit">Edit</button>
        </form>
   
        <form action="/<%= comic.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>